body {
    background-color: #1d4877;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
    background-color: whitesmoke;
}
.tree {
    color: forestgreen;
}
.water {
    color: royalblue;
}
.flag {
    color: red;
}